*{
   font-family: 'Work Sans', sans-serif;
}
h1{
   margin-bottom: 50px;
}
.ex-wrap{
   margin: 0 auto;
   text-align: center;
   width: 100%;
}
.ex-wrap * {
   display: block;
}
a, .link-wrap *{
   text-decoration: none;
   padding: 20px;
   border-radius: 3px;
   transition: all .3s;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
a:not(.done):not(.undone){
   color: black;
   background-color: white;
}
a:hover{
   transition: all .3s;
   cursor: pointer;
}
.button-wrap{
   margin: 0 auto;
   margin-top: 50px;
   width: 100%;
   display: flex;
   justify-content: space-between;
}

@media (min-width: 1000px){
   .link-wrap *{
      width: auto;
      display: inline-block;
      margin-left: 20px;
   }
   .link-wrap *:first-child{
      margin-left: 0px;
   }
}
@media (max-width: 1000px){ 
   .link-wrap a{
      display: block;
      margin: 10px;
   }
}
.done:before, .done{
   content: 'Done!';
   transition: .2s all;
}
.done{
   background-color: green;
   color: white;
}
.undone:before, .undone{
   transition: .2s all;
   content: 'Mark As Done';
}
.undone{
   background-color: white;
   color: green;
}
.material-icons{
   cursor: pointer;
   background-color: white;
}
.booked:before, .material-icons{
   content: 'bookmark';
   transition: .2s all;
}
.unbooked:before, .material-icons{
   content: 'bookmark_border';
   transition: .2s all;
}
.hover{
   cursor: pointer;
   box-shadow: 0px 3px 5px 0px rgba(31, 31, 56, 0.4);
}
.hover:hover{
   box-shadow: 0px 15px 25px 0px rgba(31, 31, 56, 0.2);
}
