<h2>About the Random Rosetta Code Exercise thing</h2>
<p>This is a little thingo that picks out random programming exercises for you to do. All from <a href="http://rosettacode.org/wiki/Category:Programming_Tasks">Rosetta Code</a>.</p>
<p>Heyo I'm Ed, Eddy or Eduardo and I made this thing (I'm @eduardlio on most of the socials, see below).</p>
<h3>Basic How TO</h3>
<p>Disclaimer: it's not persistent yet so don't go assuming that all your changes are saved or anything like that. I'm not sure how to do that yet. If you know how to, don't tell me; I'll figure it out myself but thanks</p>

<ol>
   <li>Pick a task</li>
   <li>Once you've done it, you can mark it as done</li>
   <li>That's pretty much it so far</li>
</ol>

<em>Exercises</em>
<p>Takes you to the entire list of exercises from Rosetta Code</p>
<em>About</em>
<p>What you're reading dumdum</p>
<em>Search</em>
<p>If you're sick of scrolling throguh 856 exercises to find the one exercises that you're looking for, just search it here. Or just Ctrl-F on the Exercises list, I'm pretty sure it works.</p>

<h3>Why should I use this? Why don't I just go on the actual website?</h3>
<p>You don't have to. I just made it because I was bored. Also you have to actually chose one when you go on the website. It's not like you're gonna wave your cursor around with one hand and cover your eyes with the other and go "EEEeeehhhehhhhhhh aaaannnd now" and pick one. You'd look stuipd. </p>
<p>No, with this, you can just pick some other one without knowing which one is coming next.</p>

<h3>So why did you make it then?</h3>
<p>I was messing around and I was looking for some programming exercises because I was bored one day and I wanted to improve my development skills because I wasn't so good at them.</p>

<p>Originally, it was a relatively <a href="https://eduardlio.github.io/random-rosetta-code">simple html thing</a> and you could just click through and find random exercises. Kinda boring.</p>
<p>This ended up being a programming exercise in itself of course. Going through the <a href="https://angular.io/tutorial">angular tutorial</a>, helped me learn how to use angular to start with but this was also a chance for me to get real intimate with Vim. If you're not using vim and you're using Atom or Sublime or Electron or VSCode or whatever and you're on the fence about switching to vim, this is definitely the place to be.</p>

<p>Put some issues up on the github repo yo: <a href="https://github.com/eduardlio/ng-rrs">ng-rrs</a></p>

<h3>Socials</h3>
<ul>
   <li><a href="https://github.com/eduardlio">Github</a></li>
   <li><a href="https://twitter.com/eduardlio">Twitter</a></li>
</ul>
